.about-container > img {
    max-width: 40%;
    margin: 0 auto 5em auto;
}   

.description {
    font-size: 1.5em;
    margin: 0 auto 2em auto; 
    width: 12em;
    padding-left: 2em;
}

.top {
    font-size: 1.6rem;
    margin-bottom: 1em;
    text-align: center;
    margin-right: 1em;
}

.line {
    display: flex;
    justify-content: left;
    align-items: center;
}

@media  screen and (max-width: 700px) {
    .about-container > img {
        max-width: 90vw;
    }

    .about-container > div {
        font-size: 1rem;
    }
    
    .top {
        margin-right: 2em;
    }
}